footer{
    color: var(--grey);
    list-style-type: inherit;
}

.foot{
    color: grey;
}

a{
    color: grey;
}
.navbar{
    background-color: lightblue;
    color:black;
    font-family: 'Suisseintl webm', sans-serif !important;
}