.jumbotron{
    background-size: cover;
    color:#000 !important;
    text-align: left;
    align-content: center;
    height: 60em;
    padding-top: 10em;
    background-color: lightblue;
    
}

.lead{
    color: #000;
}