  .main {
    margin-left: 10px; /* Same as the width of the sidebar */
    font-size: 28px; /* Increased text to enable scrolling */
    padding: 0px 10px;
    
  }

  div.gallery {
    margin: 5px;
    float: left;
    width: 360px;
  }

  div.gallerynoimg {
    margin: 5px;
    float: left;
    width: 360px;
  }
  div.gallerynoimg img {
    width: 100%;
    height: auto;
  }
  
  
  div.gallery:hover {
    border: 1px solid #777;
  }
  
  div.gallery img {
    width: 100%;
    height: auto;
  }
  
  div.desc {
    padding: 15px;
    color:aliceblue;
    text-align: center;
  }