:root{
    --teal: #016E83;
    --greyblue: #03253C;
    --darkblue: hsl(203, 100%, 8%);
    --grey: #25323B;
    --black: #030A0E;

    font-family: 'Abel', sans-serif;
font-family: 'Oswald', sans-serif;
}